 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1003px;
}

.u-section-1 .u-text-1 {
  font-size: 12.5rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 60px auto 0 30px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 723px;
}

.u-section-1 .u-container-layout-1 {
  padding: 60px 60px 60px 30px;
}

.u-section-1 .u-image-1 {
  height: 445px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-style: normal;
  margin: 40px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 653px;
}

.u-section-1 .u-container-layout-2 {
  padding: 17px 30px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 0;
}

.u-section-1 .u-text-4 {
  line-height: 2;
  font-size: 1rem;
  margin: 66px 0 0;
}

.u-section-1 .u-icon-1 {
  width: 48px;
  height: 48px;
  margin: 30px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 596px;
  }

  .u-section-1 .u-image-1 {
    height: 352px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 538px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 278px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1552px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 10px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 482px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-1 .u-image-1 {
    height: 297px;
  }
} .u-section-2 {
  background-image: url("images/vbvbbv.jpg");
  background-position: 50% 50%;
  min-height: 655px;
}

.u-section-2 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-2 .u-container-layout-1 {
  padding: 40px 13px 40px 25px;
}

.u-section-2 .u-text-1 {
  margin: 37px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 14px 41px 15px 40px;
}

.u-section-2 .u-image-1 {
  min-height: 655px;
  background-image: url("images/dfdf.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 30px 40px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 425px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 40px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 299px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 55px;
    padding-right: 270px;
    padding-bottom: 50px;
  }

  .u-section-2 .u-image-1 {
    min-height: 572px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 550px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 538px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 341px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 339px;
  }
}